- page_title       @project.full_name
- page_description @project.description_html unless page_description
- header_title     project_title(@project)   unless header_title
- nav              "project"
- page_itemtype    'http://schema.org/SoftwareSourceCode'
- display_subscription_banner!
- @left_sidebar = true
- @content_class = [@content_class, project_classes(@project)].compact.join(" ")

- content_for :flash_message do
  = dispensable_render_if_exists "projects/storage_enforcement_alert", context: @project
  = dispensable_render_if_exists "shared/namespace_storage_limit_alert", context: @project

- content_for :project_javascripts do
  - project = @target_project || @project
  - if current_user
    = javascript_tag do
      :plain
        window.uploads_path = "#{project_uploads_path(project)}";

- content_for :before_content do
  = render 'projects/invite_members_modal', project: @project

= dispensable_render_if_exists "shared/web_hooks/web_hook_disabled_alert"
= dispensable_render_if_exists "projects/code_suggestions_alert", project: @project
= dispensable_render_if_exists "projects/free_user_cap_alert", project: @project
= dispensable_render_if_exists 'shared/unlimited_members_during_trial_alert', resource: @project

= render template: "layouts/application"
